/* src/components/CourseList.css */
.course-list {
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-left: 250px;
    width: 80%;
  }
  
  
  